@font-face{
	font-family:GillSansNova;
	font-display:swap;
	src:url("../fonts/GillSansNova-Medium.woff2")format("woff2"),url("../fonts/GillSansNova-Medium.woff")format("woff");
	font-weight:500;
	font-style:normal;
}
@font-face{
	font-family:Pan Display;
	font-display:swap;
	src:url("../fonts/Pan Display Bold.woff2")format("woff2"),url("../fonts/Pan Display Bold.woff")format("woff");
	font-weight:700;
	font-style:normal;
}
@font-face{
	font-family:Pan Display;
	font-display:swap;
	src:url("../fonts/Pan Display Regular.woff2")format("woff2"),url("../fonts/Pan Display Regular.woff")format("woff");
	font-weight:400;
	font-style:normal;
}
