@use "sass:math";
@import 'functions';

// @import url('');    /* &display=swap - добавити при підключенні через плагін */
@import 'fonts';
@import 'base';

$fontFamily: 'Pan Display', sans-serif;
$fontWeight: 400;
$fontSize: rem(14);

$mainColor: #27251F;
$bgColor: #ffffff;

$pink: #D2255B;
$lightPink: #FFCAD4;
$grey: #71706C;

$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1320;
$containerPadding: 30;

$containerWidth: $maxWidthContainer + $containerPadding;

$pc: em($containerWidth); 
$tablet: em(991.98); 
$mobile: em(767.98); 
$mobileSmall: em(479.98);

// Тип адаптива: 1, 2.
$responsiveType: 1;

body {
    .lock & {
        overflow: hidden;
        touch-action: none;
        overscroll-behavior: none;
    };
    // Сайт загружений
    // .loaded & {
    // }
};

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    //Сайт загружений
    // .loaded & {
    // }
    // Прижимаєм футер
    > main {
        flex: 1 1 auto;
    }
    // Фікс для слайдерів
    // > * {
    //     min-width: 0;
    // };
};


@if ($responsiveType==1) {
    // Responsive
    [class*="__container"] {
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
            margin: 0 auto;
        }
        @if ($containerPadding>0) {
            padding: 0 rem(math.div($containerPadding, 2));
        }
    }
} @else {
    // Breakpoints
    [class*="__container"] {
        margin: 0 auto;
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
        } @else {
            @if ($containerPadding>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
        @media (max-width: $pc) {
            max-width: rem(970);
        }
        @media (max-width: $tablet) {
            max-width: rem(750);
        }
        @media (max-width: $mobile) {
            max-width: none;
            @if ($containerPadding>0 and $maxWidthContainer>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
    }
}


@import 'common';

@import 'components/header';
@import 'components/burger';
@import '../../node_modules/swiper/swiper-bundle';
@import 'components/_main';